Source: python-cloudfiles
Section: python
Priority: optional
Maintainer: Chmouel Boudjnah <chmouel.boudjnah@rackspace.co.uk>
Build-Depends: python-dev (>= 2.5.4-1), python-setuptools (>= 0.6a9), debhelper (>= 5.0.38), cdbs (>= 0.4.49), python-support (>= 0.8.1)
Homepage: http://github.com/rackspace/php-cloudfiles
Vcs-Svn: git://github.com/rackspace/php-cloudfiles.git  
Vcs-Browser: http://github.com/rackspace/php-cloudfiles/tree/master
Standards-Version: 3.8.1

Package: python-cloudfiles
Architecture: all
Depends: ${python:Depends}, python-pkg-resources, ${misc:Depends}
Description: Rackspace Cloud Files PHP API.
 The Rackspace Cloud Files is an affordable, redundant, scalable, and
 dynamic storage service offering. The core storage system is designed
 to provide a safe, secure, automatically re-sizing and network accessible
 way to store data. You can store an unlimited quantity of files and each
 one can be as large as 5 gigabytes. Users can store as much as they want
 and pay only for storage space they actually use.
 .
 This is the official API for the Python language.

