#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport
DEB_COMPRESS_EXCLUDE= .js .inv

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --install-layout=deb

binary-post-install/python-cloudfiles::
	mv debian/python-cloudfiles/usr/share/doc/python-cloudfiles/docs \
	debian/python-cloudfiles/usr/share/doc/python-cloudfiles/html

